<header>
  <div class="header-shell">
    <div class="header-row header-top">
      <a href="#home" class="brand-link">
        <span class="brand-icon"><i class="fa-solid fa-heart"></i></span>
        <span class="brand-name">
          Paragon Corp
          <span class="brand-tagline">Born to Be Loved</span>
        </span>
      </a>
      <button type="button" class="login-btn" id="login-action">
        <i class="fa-regular fa-user"></i>
        <span>Login</span>
      </button>
    </div>
    <div class="header-row header-nav">
      <nav>
        <ul class="nav-primary">
          <li><a href="#about">About Us</a></li>
          <li><a href="#emina" class="active-link">Emina</a></li>
          <li><a href="#">Instaperfect</a></li>
          <li><a href="#">Wardah</a></li>
          <li><a href="#offers">Offers</a></li>
          <li><a href="#join">Join</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>